{% load staticfiles %}
<div class="col-sm-4 h1">
    <div class="row text-center">
        <div style="display: inline-flex;">
            <div>
                <a href="{{ homepage_url }}"><img src="{% static "img/Lana.png" %}" height="100px" /></a>
            </div>
            <div class="shop-name">
                <a class="shop-name-link" href="{{ homepage_url }}">
                    <span class="shop-name-top">Lana</span><br>
                    <span class="shop-name-bottom">YARNS</span>
                </a>
            </div>
        </div>
    </div>
</div>
